body {
    background-color: #ffffff;

    margin: 2%;
}

#profile {
    border-radius: 50%;
    display: inline-block;
}

#bio {
    font-size: larger;
}
/* COMMENTS */
.btn {
    display: inline-block;
    text-decoration: none;
    background: black;
    color: white;
    width: 130px;
    height: 130px;
    line-height: 130px;
    border-radius: 50%;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    vertical-align: middle;
    overflow: hidden;
}
