html * {
    font-family: sans-serif;
}

body {
    background-color: #f4ffb8;
}

#title {
    font-size: 100px;
    margin: 0px;
}

#bio-title {
    font-size: 40px;
    margin: 20px 0px 10px;
}

#bio {
    font-size: 27px;
    width: 750px;
    margin: 0px;
}

#profile {
    border-radius: 50%;
    display: inline;
    margin-right: 100px;
}

#buttons {
    margin: 50px 0px;
}

.btn {
    --size: 150px;
    display: inline-block;
    text-decoration: none;
    background: white;
    color: black;
    width: var(--size);
    height: var(--size);
    line-height: var(--size);
    border-radius: 50%;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    vertical-align: middle;
    overflow: hidden;
    border: solid 3px black;
    margin-right: 20px;
}

.main {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin: 100px;
}

ul.horizontal {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}